{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "root": [
          "./src"
        ]
      }
    ],
    "console"
  ]
}